@import '../../styles/settings.scss';


.columnForm  {
    padding: 10px;
    display: flex;
    align-items: center;
    
}


@media (max-width: 767px) {
    .columnForm {
      width: 100%;
      margin: 0 0 $base-size 0;
    }
  }
