@import '../../styles/settings.scss';


.cardForm  {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        margin: 10px;
    }
}

.input {
    padding: 10px;
    margin: 0 12px 12px 12px;
}


@media (max-width: 767px) {
    .cardForm {
      width: 100%;
      margin: 0 0 $base-size 0;
    }
  }
